.proyects {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.proyects__proyect {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  color: rgba(26, 27, 34, 1);
  margin: 10px;
  padding: 10px;
  height: 350px;
  width: 250px;
}

.proyects__img {
  object-fit: cover;
}

.proyects__info-container {
  padding-left: 5px;
  display: flex;
  flex-direction: column;
}

.proyects__info {
  padding: 3px 0;
  display: flex;
}

.proyects__key {
  margin: 0;
  padding-right: 5px;
}

.proyects__value {
  margin: 0;
}
